<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Compras</title>
</head>
<body>

  

  <div>
    <h1>Lista de Compras</h1>
    <ul>
      <li>Arroz</li>
      <li>Azucar</li>
      <li>Aceite</li>
      <li>Papas</li>
      <li>Carne</li>
      <li>Fideos</li>
      <li>Pan</li>
      <li>Lentejas</li>
      <li>Leche</li>
      <li>Tomate</li>
    </ul>
  </div>

  <div>
      <h2>Se pudo comprar</h2>
      <ul>
      <li>Arroz</li>
      <li>Azucar</li>
      <li>Aceite</li>
      <li>Papas</li>
      <li>Carne</li>
      <li>Pan</li>
      <li>Tomate</li>
    </ul>
  </div>

  <div>
    <h2>No se pudo comprar</h2>
    <ul>
    <li>Fideos</li>
    <li>Lentejas</li>
    <li>Leche</li>
    </ul>
  </div>
</body>
</html>